body {
      font-family: 'Arial', sans-serif;
      text-align: center;
      padding: 20px;
	background-color:black;
  color:white;
    }

    button {
      font-size: 14px;
      color: #FFFFFF;
      padding: 10px;
      margin: 5px;
      cursor: pointer;
      border-radius: 12px;
      background-color: #007BFF
      
    }
label {
text-align: left;

}
    #timer {

  font-weight: bold; /* Make the text bold */
	background-color:black;
	font-family: 'Courier New', monospace; 
	color:limegreen;
	font-size: 7em;
    }
	
h2 {
  background-color:blue;
  color: white;
}

h3 {
  background-color:blue;
  color: white;
}


    #hidden {
      display: none;
    }
    
    .hiddenButton {
      display: none;
    }
	
	    .column {
      display: inline-block;
      vertical-align: top;
      width: 46%;
      margin-right: 2px;
    }

    .column p {
      text-align: left;
      font-size: 16px;
      font-weight: normal; /* Not bold */
    }

    #team-buttons {
      margin-top: 10px;
    }

    #score-counter {
      font-size: 2em; 
      font-weight: bold; 
    }

    .generalButton {
      background-color: #007BFF;
      color: #FFFFFF;
      border: none;
      font-size: 10px;
      cursor: pointer;
    }
		
	
	.downButton {
		
      background-color:Red;
      color:white;
      border: none;
      font-size: 15px;
    
    }
	
	 .goalButton {
	 background-color:Green;
      color: #FFFFFF;
      border: none;
      font-size: 15px;
      font-weight: bold;
    }
	
	
.selectList {
      background-color:black;
      color:YELLOW;
      border: none;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
      
    }

#awayElapsedTime {
      color:white;
      font-size: 16px;
      }

#homeElapsedTime {
      color:white;
      font-size: 16px;
      }
	  
	  #quarter {
      color:white;
      font-size: 16px;
      }
	  
	        .footer {
            padding-top: 100px;
        }

        #expandableDiv {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease; /* Add transition for smooth animation */
      }


      .expandableDiv {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease; /* Add transition for smooth animation */
    }

    .expandableDiv1 {
      
      display:NONE;
      transition: max-height 0.3s ease; /* Add transition for smooth animation */
  }
